{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="{% static 'landing/images/favicon.ico' %}">
    <title>{{ title }}</title>
    <!-- Bootstrap CSS -->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <!-- Bootswatch theme integration for bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/quartz/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--    <link type="text/css" href="{% static 'landing/css/styles.css' %}" rel="stylesheet">-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'landing/images/favicon.ico' %}" style="width:32px;height:32px;" alt="Добро Деталь">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    {% for m in menu %}
                    {% if m.id == 1 %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#{{m.slag}}">{{m.name}}
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#{{m.slag}}">{{m.name}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <ul class="navbar-nav ms-md-auto">
                    <li class="nav-item">
                        <a target="_blank" rel="noopener" class="nav-link"
                           href="https://www.ozon.ru/seller/ooo-dobro-detal-287722/avtotovary-8500/?miniapp=seller_287722">
                            <p>Мы на
                            <img src="{% static 'landing/images/logo_Ozon_new.png' %}" style="width:55px;height:25px;"
                                 alt="Ozon">
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
<!--<footer className="contrast-footer footer-dark footer-shadow-dark p-5">-->
<!--      <div className="container d-flex flex-column">-->
<!--        <small className="text-center mt-5 footer-copyright">-->
<!--          &copy; Добродеталь, 2023. All rights reserved.-->
<!--        </small>-->
<!--      </div>-->
<!--</footer>-->
<div class="blockcode">
  <footer class="shadow">
    <div
      class="d-flex justify-content-between align-items-center mx-auto py-4 flex-wrap"
      style="width: 80%"
    >
<!--      <a href="/#" class="d-flex align-items-center p-0 text-dark">-->
<!--        <img alt="logo" src="{% static 'landing/images/favicon.ico' %}" width="30px" />-->
<!--        <span class="ms-4 h5 font-weight-bold">ДоброДеталь</span>-->
<!--      </a>-->
      <small">&copy; ДоброДеталь, 2023. All rights reserved.</small>
<!--      <div>-->
<!--        <button class="btn btn-dark btn-flat p-2">-->
<!--          <i class="fa fa-facebook"></i>-->
<!--        </button>-->
<!--        <button class="btn btn-dark btn-flat p-2">-->
<!--          <i class="fa fa-twitter"></i>-->
<!--        </button>-->
<!--        <button class="btn btn-dark btn-flat p-2">-->
<!--          <i class="fa fa-instagram"></i>-->
<!--        </button>-->
<!--      </div>-->
    </div>
  </footer>
</div>
<!-- Вариант 1: Bootstrap в связке с Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>