{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="{% static 'landing/images/favicon.ico' %}">
    <title>{{ title }}</title>
    <!-- Bootstrap CSS -->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <!-- Bootswatch theme integration for bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/quartz/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--    <link type="text/css" href="{% static 'landing/css/styles.css' %}" rel="stylesheet">-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'landing/images/favicon.ico' %}" style="width:32px;height:32px;" alt="Добро Деталь">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    {% for m in menu %}
                    {% if m.id == 1 %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#{{m.slag}}">{{m.name}}
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#{{m.slag}}">{{m.name}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <ul class="navbar-nav ms-md-auto">
                    <li class="nav-item">
                        <a target="_blank" rel="noopener" class="nav-link"
                           href="https://www.ozon.ru/seller/ooo-dobro-detal-287722/avtotovary-8500/?miniapp=seller_287722">
                            <img src="{% static 'landing/images/logo_Ozon_new.png' %}" style="width:55px;height:25px;"
                                 alt="Ozon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
<footer>
    <!-- bottom footer -->
    <div class="sticky-sm-bottom">
        <!-- row -->
        <div class="row">
            <div class="col-md-12 text-center">
                    <span class="copyright">
                        Copyright ©2023 All rights reserved</a>
                    </span>
            </div>
        </div>
        <!-- /row -->
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- Вариант 1: Bootstrap в связке с Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>