{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container px-4 py-5">
    <h1 class="pb-2 border-bottom" id="catalog">Каталог</h1>
    <div class="row">
    {% for d in details %}
    {% if d.available and d.is_published %}
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="{% static d.photo %}" class="card-img-top" alt="{{d.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{d.title}}</h5>
                    <p class="card-text"><small class="text-muted">Артикул: {{d.article}}</small></p>
                    <p class="card-text">{{d.description|truncatewords:10}}</p>
                    <p class="link-read-post"><a href="#">Подробнее</a></p>
                    <p><strong>Стоимость: {{d.price}} р.</strong></p>
                    <button type="button" class="btn btn-primary btn-lg">&nbsp&nbspВ корзину&nbsp&nbsp</button>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </div>

{% endblock %}